.Auth {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
    border: 1px solid #ccc;
    padding: 30px;
}

    .Auth form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        .Auth form .ErrorMessage {
            color: red;
            margin: 0;
            width: 100%;
        }

        .Auth form input {
            width: 100%;
            height: 40px;
            padding-left: 15px;
            box-sizing: border-box;
        }

        .Auth form button {
            width: 100%;
            padding: 0;
            margin: 0;
        }

@media (min-width: 600px) {
    .Auth {
        width: 500px;
    }
}