.BreadBottom {
  height: 230px;
  width: 80%;
  /* background: linear-gradient(#F08E4A, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711; */
  margin: 2% auto;
  background-image: url(./bottombun.png);
  background-size: cover;
  background-position: center;
  margin-top: -140px;
}

.BreadTop {
  height: 260px;
  width: 80%;
  /* background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711; */
  margin: 2% auto;
  position: relative;

  z-index: 6;
  margin-bottom: -70px;
  background-image: url(./topbun.png);
  background-size: cover;
  background-position: center;
}

.Seeds1 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}

  .Seeds1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
  }
  
  .Seeds1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
  }

.Seeds2 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: white;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 #c9c9c9;
}
  
  .Seeds2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
  }
  

.Meat {
  width: 80%;
  /* height: 8%; */
  /* background: linear-gradient(#7f3608, #702e05); */
  margin: 2% auto;
  /* border-radius: 15px; */

  height: 160px;
  background-image: url(./patty.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
  margin-top: -40px;
}

.Cheese {
  width: 90%;
  height: 4.5%;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px;

  height: 190px;
  margin-bottom: -150px;
  position: relative;
  z-index: 4;
  background-image: url(./cheese.png);
  background-size: cover;
  background-position: center;
}

.Salad {
  width: 85%;
  height: 7%;
  margin: 2% auto;
  /* background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px; */

  height: 210px;
  background-image: url(./salad.png);
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -150px;
}

.Bacon {
  width: 80%;
  height: 3%;
  /* background: linear-gradient(#bf3813, #c45e38); */
  margin: 2% auto;

  height: 100px;
  margin-bottom: -70px;
  background-image: url(./bacon.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 5;
}